


/*
.galeria img {
    border-radius: 20%;
    padding: 10px;
}
.galeria{
    width: 80%;
    border: 2px solid chocolate;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}*/

